{% extends 'layout.html' %}

{% block pageTitle %}
  Confirm patient details
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h2>
        Confirm patient details
      </h2>

      <div class="nhsuk-hint">
        The information below is taken from the patient's EPR record. Please confirm that this is the correct patient.
      </div>

      {{ summaryList({
        rows: [
          {
            key: {
              text: "Name"
            },
            value: {
              text: "Karen Francis"
            }
          },
          {
            key: {
              text: "Date of birth"
            },
            value: {
              text: "15 March 1984"
            }
          },
          {
            key: {
              text: "Contact information"
            },
            value: {
              html: "73 Roman Rd<br>Leeds<br> LS2 5ZN"
            }
          },
          {
            key: {
              text: "Contact details"
            },
            value: {
              html: '<p>07700 900362</p><p>karen.francis@example.com</p>'
            }
          }
        ]
      }) }}

      <a class="nhsuk-button" href="/encounter">Continue</a>

      <div class="nhsuk-back-link">
        <a href="/mrn" class="nhsuk-back-link__link">
        <svg class="nhsuk-icon nhsuk-icon__chevron-left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" height="34" width="34">
          <path d="M8.5 12c0-.3.1-.5.3-.7l5-5c.4-.4 1-.4 1.4 0s.4 1 0 1.4L10.9 12l4.3 4.3c.4.4.4 1 0 1.4s-1 .4-1.4 0l-5-5c-.2-.2-.3-.4-.3-.7z"></path>
        </svg>
        Change my previous answer</a>
      </div>

    </div>
  </div>

{% endblock %}

{% block footer %}
  {{ footer({
    "links": [
      {
        "URL": "/docs",
        "label": "Home"
      },
      {
        "URL": "/clear-data",
        "label": "Clear data"
      },
      {
        "URL": "/docs/about",
        "label": "About and support"
      },
      {
        "URL": "https://github.com/nhsuk/nhsuk-prototype-kit",
        "label": "NHS.UK prototype kit - GitHub"
      }
    ]
  })}}
{% endblock %}
